<a href="https://colab.research.google.com/github/harsha-640/python_list/blob/main/training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
a+=12
print(a)

22

In [ ]:
a=100
b=200
print(a+b)
print(a-b)
print(a/b)

300
-100
0.5

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
print(a+b)

enter a number25
enter a number30
55

In [ ]:
a=200
b=350
c=400
print(a>=b and c>a or c>b)
print(b>c and b>a or c>=a)

True
True

In [ ]:
x=10
b= not x
print(b)

False

In [ ]:
print(2==2)
print(2!=2)

True
False

In [ ]:
otp=int(input('enter otp'))
if otp==2357:
  print('login successful')
else:
  print('login failed')

enter otp2357
login successful

In [ ]:
ki=[1,2,3,4,3]
ki1=[3,4,4,5]
l1=[1,2,3,78]
li=list(zip(ki,ki1,li))
print("list of")

In [ ]:
l1=[4,5,6,7,8,9]
list(enumerate(l1))

[(0, 4), (1, 5), (2, 6), (3, 7), (4, 8), (5, 9)]

In [ ]:
l1=[4,5,6,7,11,9]
l1.sort()
print(l1)

[4, 5, 6, 7, 9, 11]

In [ ]:
tuple=(2,4,5,6,7,8)
print(tuple)

(2, 4, 5, 6, 7, 8)